/group-buy-market-api/target/
/group-buy-market-app/target/
/group-buy-market-domain/target/
/group-buy-market-infrastructure/target/
/group-buy-market-trigger/target/
/group-buy-market-types/target/
